* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans, Arial, serif;

}

article {
  position: relative;  /*positie kleine button in rood*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 60vw;  /*breedte van visitekaartje*/

  max-width: 85em;
  min-width: 20em;
  border-radius: 1rem;
  background: rgb(0,239,255);
  background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4fdd51 100%);  /*achtergrondkleur visitekaartje*/
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1); /*ronde hoeken*/

  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 2rem 0 1rem;
  color: rgb(45, 38, 38);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  background: rgb(232, 39, 22);
  transform: scale(.8);
  transition: .25s;
}
button:focus {
  outline: none;
  background: #2617fa;
}
button:focus svg {
  stroke: rgb(255, 50, 50);
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #6fe734;
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

img  {
  position: relative;
  top: 1em;
  width: 20em;
  height: auto;
  right: 23em;
  border: 5px solid #fff;
  border-radius: 1em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  /*transform scale daarmee word het groter iedere keer als je index opent dan zie je de transvorming refreshen helpt niet */
  transform: scale(1.0, 1.0);
  /*duration is de tijd die het gebruikt voor de transietie om groter te worden*/
  transition-duration: 5s;
  /*uitzoeken waarom de afbeelding niet kleiner word als je op die button drukt*/
  /*transition: .25s .15s;*/


}
#my-image {
  /*hier word de foto rond*/
  border-radius: 20em;
}

.grid-container-info{
  display: grid;
  grid-template-columns: repeat(1, 6fr);
  grid-template-areas:
"html-div "
 "html-div "
"html-div"
;
  grid-row-gap: 2em;
  /*positoneren van de container*/
  position: relative;
  width: 18vw;
  right: -1em;
  /*background-color: white;*/
  margin-top: -9em;/*  plek container en afstand van de top dus van h1/*/

}

.divs{
  display: block;
  border: solid black;




}
.inhoud-kop-h3{
  margin: 0;
  padding-left: .2rem;

  transition: .25s .3s;
  /*font text decoration*/
  font-size: 1em;
  font-family: cursive;
  /*center items in het midden*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/

}
/*tekst onder kopjes*/
.inhoud-kop-h3 {
  margin-top: .25rem;
  padding-top: .25rem;
  color: #2d2626;
  /*center items in het midden*/
  /*display: flex;*/

  /*align-items: center;*/
  /*justify-content: center;*/
}
/* dlle linkjes met a href worden rood als je erop staat met je muis*/
a:hover {
  color: #ea1f1f;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    /*html dd is rij 1 css dd is rij 2 js dd is rij 3*/
          "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: rgb(255,255,255);

}




dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid rgba(220, 80, 80, 0.3);}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;/* dit is de 2de rij ik hou van fitness*/
  transform: translateY(1rem);
  /*  hiermee heb je die rare knik en is het niet 1 rechte lijn*/
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
  font-weight: bold;
}
dd:nth-of-type(2){
  transform: translateY(1rem);
}

p {
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}

/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  /*width: 60vw;*/
  /*max-width: 60vw;*/
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
}
