.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}

.grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 1px solid black;
    text-align: center;
    /*font-size: 30px;*/
}.grid-container-1 > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 1px solid black;
    text-align: center;
    /*font-size: 30px;*/
}.grid-container-2 > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 1px solid black;
    text-align: center;
    /*font-size: 30px;*/
}
* {
    box-sizing: border-box;
}

html {
    /*height: 100vh;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    font-family: open sans, Arial, serif;

}

article {
    position: relative;  /*positie kleine button in rood*/

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: flex-start;
    width: 40vw;  /*breedte van visitekaartje*/
    height: 34vw;
    max-width: 85em;
    min-width: 20em;
    border-radius: 1rem;
    background: #00ff92;
    /*background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4fdd51 100%);  !*achtergrondkleur visitekaartje*!*/
    box-shadow: 0 0 20px 20px rgba(0,0,0,.1); /*ronde hoeken*/

    transition: .25s;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 2rem 0 1rem;
    color: #0029E5;
    font-size: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}
.tekst-hover-me{
    font-size: 1.5em;
}


img  {

    top: 1em;
    width: 12.5em;
    height: auto;
    left: 15.4em;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 1em;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
    /*transform scale daarmee word het groter iedere keer als je index opent dan zie je de transvorming refreshen helpt niet */
    transform: scale(1);
    /*duration is de tijd die het gebruikt voor de transietie om groter te worden*/
    transition-duration: 5s;
    /*uitzoeken waarom de afbeelding niet kleiner word als je op die button drukt*/
    /*transition: .25s .15s;*/


}
#my-image {
    /*hier word de foto rond*/
    /*border-radius: 20em;*/
}
hr{
    border: 0.1em solid;
    /*color: red;*/
}
/*over mij div*/
.div-over-mij{
    /*positineren van de div*/



    align-items: center;
    /*zwarte rand meegeven*/
    border: 1px solid black;
    text-align: center;
    background-color: #DEFF92;
    /*breedte afstellen van de div*/
    width: 12vw;

}.div-sporten{
     border: 1px solid black;
     text-align: center;
     align-items: center;

     width: 12vw;
     background-color: #DEFF92;


 }.div-vrije-tijd{
       border: 1px solid black;
       text-align: center;
      height: auto;

      align-items: center;

      width: 12vw;

  }
.h3-sporten{
    display: flex;
    align-items: center;
    justify-content: center;
    /*  text decoratie*/
    font-size: 1.25em;
}
.h3-overmij{
    display: flex;
    align-items: center;
    justify-content: center;
    /*  text decoratie*/
    font-size: 1.25em;
}
.h3-vrije-tijd{
    display: flex;
    align-items: center;
    justify-content: center;
    /*  text decoratie*/
    /*font text decoration*/
    font-size: 1.25em;
    color: #390000;
    /*center items in het midden*/
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/General_sibling_combinator dit teken ~*/
.h3-vrije-tijd:hover~ .vrije-tijd-content{
    visibility: visible;
}
.h3-sporten:hover~ .sporten-content{
    visibility: visible;
}
.overmij-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /*  text decoratie*/

    transition: .25s .3s;
    /*font text decoration*/
    font-family: cursive;
    color: #390000;
    /*center items in het midden*/
    font-size: 0.90em;
    height: 4em;
}

.sporten-content{
    transition: .25s .3s;
    /*font text decoration*/
    font-size: 1em;
    font-family: cursive;
    color: #390000;
    /*center items in het midden*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    visibility: hidden;
}

.vrije-tijd-content{
    transition: .25s .3s;
    /*font text decoration*/
    font-size: 1em;
    font-family: cursive;
    color: #390000;
    /*center items in het midden*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    visibility: hidden;
}
/* dlle linkjes met a href worden rood als je erop staat met je muis*/
a:hover {
    color: #2617fa;
}


article > p {
    width: 100%;
    margin-top: 0;
    padding: 3rem 2rem;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    background: rgba(255,255,255, 0.5);
}

/* expand content */
/*body.expand {*/
/*  font-size: 1.15em;*/
/*}*/

/*body.expand article {*/
/*  width: 60vw;*/
/*  max-width: 60vw;*/
/*}*/

/*body.expand button svg:first-of-type {*/
/*  opacity: 0;*/
/*  transition-delay: 0ms;*/
/*}*/

/*body.expand button svg:nth-of-type(2) {*/
/*  opacity: 1;*/
/*  transition-delay: .25s;*/
/*}*/

/*body.expand dd {*/
/*  font-size: 1.75em;*/
/*}*/

/*body.expand img {*/
/*  width: 15em;*/
/*}*/
