* {
  box-sizing: border-box;
}

html {
  /*height: 100vh;*/
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  font-family: open sans, Arial, serif;

}

article {
  position: relative;  /*positie kleine button in rood*/

  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: flex-start;
  width: 65vw;  /*breedte van visitekaartje*/
  height: 40vw;
  max-width: 85em;
  min-width: 20em;
  border-radius: 1rem;
  background: #00ff92;
  /*background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4fdd51 100%);  !*achtergrondkleur visitekaartje*!*/
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1); /*ronde hoeken*/

  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 2rem 0 1rem;
  color: rgb(45, 38, 38);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  background: rgb(232, 39, 22);
  transform: scale(.8);
  transition: .25s;
}
button:focus {
  outline: none;
  background: #2617fa;
}
button:focus svg {
  stroke: rgb(255, 50, 50);
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #6fe734;
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

img  {
  position: relative;
  /*top: 1em;*/
  width: 20em;
  height: auto;
  left: 20em;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 1em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  /*transform scale daarmee word het groter iedere keer als je index opent dan zie je de transvorming refreshen helpt niet */
  transform: scale(1.0, 1.0);
  /*duration is de tijd die het gebruikt voor de transietie om groter te worden*/
  transition-duration: 5s;
  /*uitzoeken waarom de afbeelding niet kleiner word als je op die button drukt*/
  /*transition: .25s .15s;*/


}
#my-image {
  /*hier word de foto rond*/
  /*border-radius: 20em;*/
}
hr{
border: 0.1em solid;
  /*color: red;*/
}
/*over mij div*/
.div-over-mij{
  /*positineren van de div*/
  position: absolute;
  top: 8em;
  left: 1em;
  align-items: flex-start;
  /*zwarte rand meegeven*/
  border: solid black;
  /*breedte afstellen van de div*/
  width: 20vw;

}.div-sporten{
   position: absolute;
   top: 8em;
   right: 1em;
  border: solid black;
   width: 20vw;

}.div-vrije-tijd{
    position: relative;
    /*top: 1em;*/
    height: auto;
    left: 20.5em;
    align-items: center;
  border: solid black;
    width: 20vw;

}
 .h3-kop{
   display: flex;
   align-items: center;
   justify-content: center;

 }
.inhoud-kop-h3{
  transition: .25s .3s;
  /*font text decoration*/
  font-size: 1em;
  font-family: cursive;
  color: #390000;
  /*center items in het midden*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
}
/* dlle linkjes met a href worden rood als je erop staat met je muis*/
a:hover {
  color: #ea1f1f;
}


article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}

/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  /*width: 60vw;*/
  /*max-width: 60vw;*/
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
}
