* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans, Arial, serif;

}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 85em;
  min-width: 20em;
  border-radius: 1rem;
  background: rgb(0,239,255);
  background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4fdd51 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 2rem 0 1rem;
  color: rgba(0,239,255,1);
  font-size: 2em;
}

button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  background: rgba(0,239,255,1);
  transform: scale(.8);
  transition: .25s;
}
button:focus {
  outline: none;
  background: #2617fa;
}
button:focus svg {
  stroke: rgba(0,239,255,1);
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #6fe734;
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

img {
  position: relative;
  top: -60px;
  width: 15em;
  height: auto;
  right: 250px;
  border: 5px solid #fff;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}
#my-image{
  border-radius: 20em;
}
hr{
  color: #e5511d;
}
.grid-containertest{
  display: grid;
  grid-template-columns: repeat(1, 6fr);
  grid-template-areas:
"html-div "
 "html-div "
"html-div"
;
  grid-auto-rows: minmax(auto, auto);
  grid-row-gap: 10px;
  position: relative;
  top: -4em;
  right: -4.5em;
  background-color: white;
  margin-top: -5em;/*  aan de bovenkant is er een margin van -5em*/

}
.divtest{
  display: block;
  /*margin-inline-start: 40px;*/
  /*margin-inline-end: 40px;*/
  border: solid black;
}
.h3-kop{
  margin: 0;
  /*padding-left: .2rem;*/
  transition: .25s .3s;
  font-size: 1.5em;
  text-decoration-color: black;
  font-weight: bold;
  border-top: 1px solid rgba(208, 19, 19, 0.3);

}
dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    /*html dd is rij 1 css dd is rij 2 js dd is rij 3*/
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: rgb(255,255,255);

}
.dt{
  margin-top: .25rem;
  padding-top: .25rem;
  text-decoration-color: #79f500;
  }



dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid rgba(220, 80, 80, 0.3);}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;/* dit is de 2de rij ik hou van fitness*/
  transform: translateY(1rem);
/*  hiermee heb je die rare knik en is het niet 1 rechte lijn*/
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
  font-weight: bold;
}
dd:nth-of-type(2){
  transform: translateY(1rem);
}

p {
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}

/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
}
